/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@import '../../@core/scss/base/bootstrap-extended/include';
@import 'variables/variables';

.main-menu.menu-light .navigation .navigation-header {
  margin: calc(2rem + 0.286rem) 0 0.8rem 2.2rem !important;
}

.brand-logo {
  margin-top: -4px !important;
  svg {
    height: 32px !important;
    width: 32px !important;
  }
}
.brand-text {
  margin-left: -6px !important;
  svg {
    height: 35px !important;
    width: auto !important;
  }
}
.menu-expanded {
  .brand-logo {
    display: none;
  }
}
.menu-collapsed {
  .expanded {
    .brand-logo {
      display: none;
    }
  }
}
.vertical-overlay-menu {
  .expanded {
    .brand-logo {
      display: none;
    }
  }
}
.dark-layout .header-navbar-shadow {
  background: inherit !important;
}
.nav .modern-nav-toggle {
  margin-top: 30px;
}
h1,
h2 {
  font-family: 'Open Sans Condensed';
}
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
  font-weight: 600;
}
.main-menu.menu-dark .navigation > li ul .active {
  background: linear-gradient(118deg, rgba($info, 1), rgba($info, 0.7));
  box-shadow: 0 0 10px 1px rgba($info, 0.7);
}

.dark-layout {
  a {
    color: rgba($info, 1);
  }
}

.text-brand {
  color: $brand !important;
}
.logo-lg {
  svg {
    height: 35px !important;
    width: auto !important;
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

// Animation
@keyframes placeHolderShimmer {
  0% {
    background-position: -1204px 0;
  }

  100% {
    background-position: 1204px 0;
  }
}

.animated-background {
  animation-duration: 1.2s;
  // animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #ececec 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-size: 1204px 104px;
  background-repeat: no-repeat;
  position: relative;
  min-height: 10px;
}

body.dark-layout {
  .animated-background {
    background: rgb(40, 48, 70);
    background: linear-gradient(
      90deg,
      rgba(40, 48, 70, 1) 0%,
      rgba(27, 34, 50, 1) 31%,
      rgba(40, 48, 70, 1) 100%
    );
  }
}
.react-dataTable {
  .rdt_TableHead {
    .rdt_TableHeadRow {
      background-color: #e5e5e5 !important;
    }
  }
}

.react-dataTable.react-dataTable-selectable-rows
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:not(:first-child) {
  padding-left: 1.5rem !important;
}
.react-dataTable.react-dataTable-selectable-rows
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(2) {
  padding-left: 0 !important;
}

a.company-title.nav-link {
  color: #00338d !important;
  font-weight: 800 !important;
  font-size: 20px !important;
  pointer-events: none;
}

.flatpickr-input {
  &.is-invalid + input {
    border: 1px solid #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
}

.bg-image {
  background: url('/src/assets/images/backgrounds/Picture1.png') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  background-color: rgb(12, 35, 60);
  height: 100vh;

  @include media-breakpoint-down(md) {
    background: none;
    padding: 30px;
  }
}
.login-bg {
  background-color: rgb(12, 35, 60);
  height: 100vh;
  .img-fluid {
    height: 50%;
  }
  .logo-image {
    width: auto;
    margin-top: 5vh;
    height: 30%;
  }
  .full-height {
    height: 100vh !important;
  }
}
.copy {
  position: absolute;
  right: 200px;
  bottom: 20px;
  @include media-breakpoint-only(xs) {
    right: 0;
    left: 0;
    text-align: center;
  }
}

.long-popup {
  max-width: 500px !important;
}

.rdt_TableCell {
  height: auto !important;
}
p,
a,
div {
  word-wrap: break-word !important;
}

//MULTI EMAIL TAG

.react-multi-email {
    border: 1px solid rgba($primary,0.9) !important;
    min-height: 200px;
    padding: 1em 0.5em;
  }
  
  .react-multi-email.empty > span[data-placeholder] {
    font-size: 15px;
    padding: 0;
  
    /* wrapper's left padding */
    left: 0.5em;
    /* wrapper's top padding */
    top: 1em;
    /* input's left margin */
    margin-left: 0.8em;
    padding-top: 0.4em;
  }
  
  .react-multi-email input {
    font-size: 15px;
    margin-left: 0.8em;
  }
  
  .react-multi-email [data-tag] {
    border-radius: 99px;
    margin-bottom: 5px;
    padding: 1px 6px 3px 15px;
    user-select: none;
    font-weight: 600;
  }
  
  .react-multi-email [data-tag] [data-tag-handle] {
    display: inline-block;
    padding: 4px 8px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 50%;
    /* background-color: #ddd; */
  }
  
  .react-multi-email [data-tag] [data-tag-handle]:hover {
    color: red;
  }